[project]
name = "hldlib"
version = "0.1.2"
authors = [
  { name="Sakhezech", email="contact@sakhezech.ru" },
]
description = "A Python package for working with Hyper Light Drifter files"
readme = "README.md"
requires-python = ">=3.10"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Development Status :: 3 - Alpha"
]

[project.urls]
"Homepage" = "https://github.com/sakhezech/hldlib"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
